html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.katex-display > .katex {
  text-align: left;
}

h1,
h2,
h3 {
  border-bottom: solid 1px black;
  letter-spacing: 1px;
  margin-top: 20px !important;
}

blockquote {
  border: solid 1px gray;
  border-left: solid 5px gray;
}
